@media (max-width:678px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .awasr-logo {
        width: 250px;
        height: 51px;
    }
    .content h2:first-child {
        font-size: 40px;
    }
    .content form input {
        margin-left: 0.7rem;
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .content form div {
        margin-left: 0.5rem;
    }
    .l-footer img {
        display: none;
    }
    .register {
        padding: 1rem 0;
    }
}

@media(max-width:415px) {
    .l-footer {
        margin: 11.5rem 0;
        width: 100%;
        position: fixed;
        z-index: -10;
    }
    .register {
        margin-left: 4rem;
    }
}

@media(min-width:679px) {
    body {
        background-color: #fff;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10rem 0 0 4rem;
    }
    .content form input {
        margin-left: 0.7rem;
        width: 100%;
    }
    .content form div {
        margin-left: 3rem;
    }
    .l-footer img {
        margin: 24rem 0;
    }
    .register {
        margin: 0 0 0 0.1rem;
        padding: 0 2rem;
    }
}

@media(min-width:1100px) {
    .container {
        max-width: 1200px;
        margin: 0 0 0 0.1rem;
        padding: 0.4rem 0;
    }
    .awasr-logo {
        width: 325px;
        height: 80px;
    }
    .content {
        width: 100%;
    }
    .content h2:first-child {
        font-family: TeshrinBold;
        font-size: 55px;
        color: #56575B;
        margin: 0.5rem 0;
    }
    .content h2:nth-child(3) {
        font-family: TeshrinBold;
        font-size: 45px;
        color: #9C2480;
    }
    .content p {
        font-family: TeshrinLight;
        font-size: 0.9rem;
        color: #56575B;
        padding: 0 1rem 0 0;
    }
    .content form input {
        display: block;
        width: 215%;
        padding: 0.2rem;
        margin: 0.7rem -5rem;
        border-radius: 5px;
        border-color: skyblue;
    }
    .content form div {
        margin-bottom: 0.7rem;
        margin-left: 1.5rem;
    }
    .content form div button {
        background-color: #9C2480;
        color: #ffffff;
        border: none;
        padding: 0.5rem 2rem;
        font-family: TeshrinLight;
        border-radius: 8px;
        cursor: pointer;
    }
    .otp-t p {
        font-size: 0.8rem;
        margin: 0 0.3rem 0 0;
    }
    .register {
        display: flex;
        align-items: center;
        margin: 0 0 0 -2rem;
        padding: 0 1rem;
    }
    .register h2 {
        padding: 0 1rem;
        font-family: TeshrinLight !important;
        font-size: 1.5rem !important;
        background: -webkit-linear-gradient(271.78deg, #BC1F8B -53.4%, #B5218C -39.73%, #A0268E -19.99%, #7E2F91 2.8%, #613694 35.99%, #5E3A95 59.73%, #3C65A0 98.49%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .register div input {
        width: 100px;
        padding: 0.21rem 0;
        border-radius: 5px 0 0 5px;
        border-color: skyblue;
    }
    .register div button {
        background: linear-gradient(271.78deg, #BC1F8B -53.4%, #B5218C -39.73%, #A0268E -19.99%, #7E2F91 2.8%, #613694 21.03%, #5E3A95 22.54%, #3C65A0 39.25%, #2287A8 55.96%, #0F9FAE 71.15%, #04AEB2 86.34%, #00B3B3 96.97%, #00B3B3 98.49%);
        margin: 0 -0.3rem;
        padding: 0.29rem 1.5rem;
        border: none;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-family: TeshrinHairline;
    }
    .l-footer img {
        margin: -14rem 0;
        width: 100%;
        position: fixed;
        z-index: -10;
        padding: -15rem 0;
    }
    .footer {
        display: none;
    }
    .content {
        height: 100%;
    }
}

@media(max-height:678px) {
    .register {
        display: flex;
        align-items: center;
        margin: 0 0 0 3rem;
    }
}